{
    "mapPath": "/maps/ssp/",
    "sitePaths": {
        "audio": "/maps/audio/",
        "download": "/maps/download/",
        "cover": "/maps/cover/",
        "txt": "/maps/txt/"
    },
    "serve": {
        "host": "localhost",
        "port": "3000"
    },
    "trustProxy": false
}